body{
    background: #5767A2;
    font-family: Roboto;
    font-weight: normal;
}

h1{
    color: #FBFBFA;
    margin-bottom: 30px;
}
#add{
    
}
#inputContainer{
    margin-right: 20px;
}
#button-addon2{
    color: #FBFBFA;
    font-size: 30px;
    margin-left: 7px;
    width: 50px;
    height: 50px;
    border: 3px solid #10263F;
    border-radius: 5px;
    background: #10263F;
    padding: 0px;
}
#button-addon2:hover{
    background: #3A9D83;
    border: 3px solid #10263F;
    transition: 0.8s;
  }

  fa-pencil{
    margin-bottom: 50px;
  }
  
  .form-control{
    border-radius: 0px;
    margin-left:19%;
    font-size: 24px;
    outline: none;
    background: #5767A2;
    border: none;
    border-bottom: 3px solid #10263F;
  }
  .form-control:focus{
    color: #FBFBFA;
    font-size: 24px;
    outline: none;
    list-style: none;
    background: #5767A2;
    border: none;
    border-bottom: 3px solid #10263F;
  }
  .form-control::-webkit-input-placeholder{
    color: #FBFBFA;
    font-size: 24px;
  }
  li{
      color: #3A9D83;
      max-width: 66%;
      font-size: 24px;
      border: 3px solid #3A9D83;
      border-radius: 5px;
      margin:auto auto 10px auto;
      padding-left: 10px;
      text-align: left;

  }
  li:hover{
    color: #10263F;
    border: 3px solid #10263F;
    transition: 1.0s;
  }

 #btn{

    width: 30%;
    outline: none;
  }


  span{
      float: right;
      padding-right: 10px;
      color: #C62923;
      font-size: 22px;
  }
  span:hover{
      font-size: 28px;
      transition: 0.2s;
  }
#container{
    display: block;
    margin:100px auto auto auto;
    width: auto;
    text-align: center;

}

ul{
    margin-top: 50px;
    list-style: none;
}

.addMassege{
    background-color: #10263F;
    color: #FBFBFA;
    border: 3px solid #FBFBFA;
    width: 40%;
    margin: 50px auto;
    height: 27px;
    text-align: center;
    font-size: 15px;
    transition: 0.1s;
}
.emptyMassege{
    background-color: #FF8E42;
    color: #C62923;
    border: 3px solid #C62923;
    width: 43%;
    margin: 50px auto;
    height: 27px;
    text-align: center;
    font-size: 15px;
    transition: 0.1s;
}
